*{
  box-sizing: border-box;
}


div{
  height: 100px;
  font-family:"Times New Roman";
  padding: 10px;
  margin: 10px;
  width:300px;
}

.yellow{
  background-color: #FFD700;
}
.gray{
  background-color: #202020;
  color: white;
}
